*{
    font-family: 'Times New Roman', Times, serif;
}
.container1 {
    display: flex;
    position: relative;
    background-color: black;
    padding: 20px;
    min-height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
}
.container2{
    min-height: 100vh;
}
.container1 a{
    margin: 20px;
}

img {
    height: 300px;
    width: 250px;
}

.playbtn {
    position: relative;
    left: -80px;
    top: 120px;
    background-color: #0fab0fa8;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
}

.table {
    width: fit-content;
    margin-top: 30px;
}
table tr td a{
    margin: 20px;
}
.table tr td {
    width: 100px;
    height: 100px;
}

.table tr td button {
    width: 100px;
    height: 100px;
    /* color: #fbfdfb; */
}

.table tr td button img {
    position: relative;
    width: 113px;
    height: 113px;
    left: -19px;
    top: -13px;
}

.msg {
    text-align: center;
}
.number{
    background-color: aqua;
    border: none;
}
input{
    margin: 10px;
}