<footer  class="footer bg-dark text-white">
    <div id="footer1">
        <div class="contactinfo">
            <p>Contacts</p>
            <a href="mailto:sindhegnaneshwar2003@gmail.com"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path
                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                </svg> sindhegnaneshwar2003@gmail.com</a>
            <a href="mailto:20r01a05a7@cmritonline.ac.in"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path
                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                </svg> 20r01a05a7@cmritonline.ac.in</a>
        </div>
        <div class="inforamation">
            <p>Information</p>
            <ul>
                <li><a  class="links" href="/about">About me</a></li>
                <li><a class="links" href="https://gnaneshwar5a7.github.io/Profile-Portfolio/">Portfolio</a></li>
                <li><a class="links" href="https://github.com/Gnaneshwar5a7">Github</a></li>
            </ul>
        </div>
        <div class="Programming">
            <p>Coding Platforms</p>
            <ul>
                <li><a class="links" href="https://www.hackerrank.com/20r01a05a7?hr_r=1">Hackerrank</a></li>
                <li><a class="links" href="https://www.codechef.com/users/g_20r01a05a7">Codechef</a></li>
                <li><a class="links" href="https://vjudge.net/user/20R01A05A7">Vjudge</a></li>
                <li><a class="links" href="https://leetcode.com/20R01A05A7/">Leetcode</a></li>
                <li><a class="links" href="https://auth.geeksforgeeks.org/user/20r01a05a7/">Geeksforgeeks</a></li>
            </ul>
        </div>
        <div class="Social">
            <p>Social Media</p>
            <ul>
                <li><a class="links" href="https://www.linkedin.com/in/gnaneshwar-sindhe-4b3166226">LinkedIn</a>
                </li>
                <li><a class="links" href="https://www.facebook.com/sindhe.gnaneshwar.5">Facebook</a></li>
                <li><a class="links" href="https://www.instgram.com/sindhe.gnaneshwar">Instagram</a></li>
            </ul>
        </div>
    </div>
  </footer>
</body>
</html>