<div class="container-fluid container1">
    <center>
        <table>
            <tr>
                <td>
                    <img src="static/xox.jpg">
                    <button class="btn btn-outline-success playbtn"><a class="link" href="/xox">Play</a></button>
                </td>
                <!-- <td>
                    <img src="static/xox.jpg">
                    <button class="btn btn-outline-success playbtn"><a class="link" href="/xox">Play</a></button>
                </td>
                <td>
                    <img src="static/xox.jpg">
                    <button class="btn btn-outline-success playbtn"><a class="link" href="/xox">Play</a></button>
                </td> -->
            </tr>
        </table>
    </center>
</div>